In [1]:
import pandas as pd

In [2]:
suicide_rates_df = pd.read_csv('master.csv')
suicide_rates_df = suicide_rates_df.drop(['country-year',' gdp_for_year ($) ','generation'], axis=1)
suicide_rates_df = suicide_rates_df[suicide_rates_df['year'] == 2020]
suicide_rates_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
27820,Antigua and Barbuda,2020,male,5-14 years,NaN,92664,0.000000,0.920514,13992.744480
27821,Argentina,2020,male,5-14 years,NaN,45376763,0.000000,0.832784,8579.017773
27822,Armenia,2020,male,5-14 years,NaN,2805608,0.000000,0.756001,4266.018074
27823,Australia,2020,male,5-14 years,15.0,25655289,0.058467,0.960859,51692.842750
27824,Austria,2020,male,5-14 years,2.0,8916864,0.022429,0.921971,48586.801320
...,...,...,...,...,...,...,...,...,...
31505,Ukraine,2020,female,75+ years,NaN,44132049,0.000000,0.776725,3724.938437
31506,United Kingdom,2020,female,75+ years,NaN,67081000,0.000000,0.916840,41059.168810
31507,United States of America,2020,female,75+ years,521.0,331501080,0.157164,0.917541,63593.443620
31508,Uruguay,2020,female,75+ years,NaN,3429086,0.000000,0.822487,15438.411670
31509,Uzbekistan,2020,female,75+ years,NaN,34232050,0.000000,0.696935,1750.697113

In [3]:
suicide_rates_df = suicide_rates_df.dropna()
suicide_rates_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
27823,Australia,2020,male,5-14 years,15.0,25655289,0.058467,0.960859,51692.842750
27824,Austria,2020,male,5-14 years,2.0,8916864,0.022429,0.921971,48586.801320
27834,Costa Rica,2020,male,5-14 years,1.0,5123105,0.019519,0.817895,12140.854150
27838,Czechia,2020,male,5-14 years,3.0,10697858,0.028043,0.896591,22931.274600
27841,Ecuador,2020,male,5-14 years,44.0,17588595,0.250162,0.737612,5600.389615
...,...,...,...,...,...,...,...,...,...
31493,Serbia,2020,female,75+ years,62.0,6899126,0.898665,0.796845,7720.510572
31495,Singapore,2020,female,75+ years,18.0,5685807,0.316578,0.931806,59797.752180
31497,Slovenia,2020,female,75+ years,24.0,2102419,1.141542,0.908508,25517.330670
31499,Spain,2020,female,75+ years,182.0,47365655,0.384245,0.889149,27063.193920
31507,United States of America,2020,female,75+ years,521.0,331501080,0.157164,0.917541,63593.443620

In [4]:
data2 = suicide_rates_df.groupby(["country"]).sum()
data2

/var/folders/nq/4fdxpg5x3813lq3gth8vk6sc0000gn/T/ipykernel_66488/619984588.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data2 = suicide_rates_df.groupby(["country"]).sum()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
country,,,,,,
Australia,24240,3139.0,307863468,12.235294,11.336044,620314.113000
Austria,24240,1072.0,107002368,12.022164,10.950055,583041.615840
Costa Rica,24240,351.0,61477260,6.851314,9.779544,145690.249800
Czechia,24240,1224.0,128374296,11.441543,10.691896,275175.295200
Ecuador,24240,1071.0,211063140,6.089173,8.754587,67204.675380
Estonia,24240,210.0,15954264,15.795150,10.686276,276324.324000
Georgia,24240,202.0,44672592,5.426146,9.608209,51200.289540
Germany,24240,7766.0,997930452,9.338527,11.316522,554501.153640
Guatemala,24240,574.0,202299996,3.404844,7.565747,55240.075404
Iceland,24240,47.0,4397556,12.825306,11.481612,711242.160600
Kazakhstan,24240,2144.0,225067992,11.431212,9.745566,109466.801160
Latvia,24240,298.0,22805388,15.680505,10.429605,212715.035280
Lithuania,24240,608.0,33538620,21.754026,10.547023,242803.696200
Mauritius,24240,135.0,15188880,10.665698,10.917958,103534.117884
Mexico,24240,6991.0,1511979624,5.548487,9.050697,99951.255756
Netherlands,24240,1824.0,209298000,10.457816,11.255738,628765.400520
North Macedonia,24240,105.0,24870372,5.066269,9.261984,71007.150900
Serbia,24240,895.0,82789512,12.972658,9.636721,92646.126864
Singapore,24240,359.0,68229684,6.313967,11.245089,717573.026160
Slovenia,24240,368.0,25229028,17.503647,10.928577,306207.968040
Spain,24240,4369.0,568387860,9.223983,10.754570,324758.327040
United States of America,24240,14577.0,3978012960,4.397271,11.028332,763121.323440

In [19]:
data1 = pd.DataFrame(data2["suicides_no"])
data1 = data1.reset_index()
data1

                     country  suicides_no
0                  Australia       3139.0
1                    Austria       1072.0
2                 Costa Rica        351.0
3                    Czechia       1224.0
4                    Ecuador       1071.0
5                    Estonia        210.0
6                    Georgia        202.0
7                    Germany       7766.0
8                  Guatemala        574.0
9                    Iceland         47.0
10                Kazakhstan       2144.0
11                    Latvia        298.0
12                 Lithuania        608.0
13                 Mauritius        135.0
14                    Mexico       6991.0
15               Netherlands       1824.0
16           North Macedonia        105.0
17                    Serbia        895.0
18                 Singapore        359.0
19                  Slovenia        368.0
20                     Spain       4369.0
21  United States of America      14577.0

# Two ways to get population data

Option 1

In [34]:
pop = pd.DataFrame(suicide_rates_df.groupby(["country"]).mean()["population"])
pop = pop.reset_index()
pop

/var/folders/nq/4fdxpg5x3813lq3gth8vk6sc0000gn/T/ipykernel_66488/1803788640.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pop = pd.DataFrame(suicide_rates_df.groupby(["country"]).mean()["population"])

                     country   population
0                  Australia   25655289.0
1                    Austria    8916864.0
2                 Costa Rica    5123105.0
3                    Czechia   10697858.0
4                    Ecuador   17588595.0
5                    Estonia    1329522.0
6                    Georgia    3722716.0
7                    Germany   83160871.0
8                  Guatemala   16858333.0
9                    Iceland     366463.0
10                Kazakhstan   18755666.0
11                    Latvia    1900449.0
12                 Lithuania    2794885.0
13                 Mauritius    1265740.0
14                    Mexico  125998302.0
15               Netherlands   17441500.0
16           North Macedonia    2072531.0
17                    Serbia    6899126.0
18                 Singapore    5685807.0
19                  Slovenia    2102419.0
20                     Spain   47365655.0
21  United States of America  331501080.0

Option 2

In [7]:
a = suicide_rates_df["population"].unique()

In [8]:
b = suicide_rates_df["country"].unique()

In [32]:
pop2 = pd.DataFrame({"country": b, "population": a})
pop2

                     country  population
0                  Australia    25655289
1                    Austria     8916864
2                 Costa Rica     5123105
3                    Czechia    10697858
4                    Ecuador    17588595
5                    Estonia     1329522
6                    Georgia     3722716
7                    Germany    83160871
8                  Guatemala    16858333
9                    Iceland      366463
10                Kazakhstan    18755666
11                    Latvia     1900449
12                 Lithuania     2794885
13                 Mauritius     1265740
14                    Mexico   125998302
15               Netherlands    17441500
16           North Macedonia     2072531
17                    Serbia     6899126
18                 Singapore     5685807
19                  Slovenia     2102419
20                     Spain    47365655
21  United States of America   331501080

# Getting HDI data

In [27]:
c = suicide_rates_df["HDI for year"].unique()
c

array([0.96085886, 0.92197063, 0.81789476, 0.8965906 , 0.73761186,
       0.88211543, 0.79827985, 0.95397154, 0.65730735, 0.96812874,
       0.81074103, 0.85928656, 0.86682658, 0.91711033, 0.76098691,
       0.95370425, 0.79365434, 0.80927541, 0.94237541, 0.91292159,
       0.90327944, 0.92051425, 0.92848182, 0.90303855, 0.81202921,
       0.88539199, 0.72148602, 0.8989306 , 0.80308837, 0.93211539,
       0.60365051, 0.94547327, 0.81351994, 0.87898093, 0.89101055,
       0.9025494 , 0.74746252, 0.92225211, 0.75000962, 0.79684475,
       0.93180614, 0.90850794, 0.88914884, 0.91754116])

In [24]:
data3 = suicide_rates_df.groupby(["country"]).mean()
data3 = pd.DataFrame(data3["HDI for year"])
data3 = data3.reset_index()
data3

/var/folders/nq/4fdxpg5x3813lq3gth8vk6sc0000gn/T/ipykernel_66488/999683986.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data3 = suicide_rates_df.groupby(["country"]).mean()

                     country  HDI for year
0                  Australia      0.944670
1                    Austria      0.912505
2                 Costa Rica      0.814962
3                    Czechia      0.890991
4                    Ecuador      0.729549
5                    Estonia      0.890523
6                    Georgia      0.800684
7                    Germany      0.943043
8                  Guatemala      0.630479
9                    Iceland      0.956801
10                Kazakhstan      0.812130
11                    Latvia      0.869134
12                 Lithuania      0.878919
13                 Mauritius      0.909830
14                    Mexico      0.754225
15               Netherlands      0.937978
16           North Macedonia      0.771832
17                    Serbia      0.803060
18                 Singapore      0.937091
19                  Slovenia      0.910715
20                     Spain      0.896214
21  United States of America      0.919028

# Calculating suicide rate

In [42]:
calc = pd.merge(data1, pop, on="country")
calc

                     country  suicides_no   population
0                  Australia       3139.0   25655289.0
1                    Austria       1072.0    8916864.0
2                 Costa Rica        351.0    5123105.0
3                    Czechia       1224.0   10697858.0
4                    Ecuador       1071.0   17588595.0
5                    Estonia        210.0    1329522.0
6                    Georgia        202.0    3722716.0
7                    Germany       7766.0   83160871.0
8                  Guatemala        574.0   16858333.0
9                    Iceland         47.0     366463.0
10                Kazakhstan       2144.0   18755666.0
11                    Latvia        298.0    1900449.0
12                 Lithuania        608.0    2794885.0
13                 Mauritius        135.0    1265740.0
14                    Mexico       6991.0  125998302.0
15               Netherlands       1824.0   17441500.0
16           North Macedonia        105.0    2072531.0
17                    Serbia        895.0    6899126.0
18                 Singapore        359.0    5685807.0
19                  Slovenia        368.0    2102419.0
20                     Spain       4369.0   47365655.0
21  United States of America      14577.0  331501080.0

In [43]:
calc["Suicide rate"] = calc["suicides_no"] / calc["population"]
calc = calc.sort_values(by="Suicide rate", ascending=False)
calc

                     country  suicides_no   population  Suicide rate
12                 Lithuania        608.0    2794885.0      0.000218
19                  Slovenia        368.0    2102419.0      0.000175
5                    Estonia        210.0    1329522.0      0.000158
11                    Latvia        298.0    1900449.0      0.000157
17                    Serbia        895.0    6899126.0      0.000130
9                    Iceland         47.0     366463.0      0.000128
0                  Australia       3139.0   25655289.0      0.000122
1                    Austria       1072.0    8916864.0      0.000120
3                    Czechia       1224.0   10697858.0      0.000114
10                Kazakhstan       2144.0   18755666.0      0.000114
13                 Mauritius        135.0    1265740.0      0.000107
15               Netherlands       1824.0   17441500.0      0.000105
7                    Germany       7766.0   83160871.0      0.000093
20                     Spain       4369.0   47365655.0      0.000092
2                 Costa Rica        351.0    5123105.0      0.000069
18                 Singapore        359.0    5685807.0      0.000063
4                    Ecuador       1071.0   17588595.0      0.000061
14                    Mexico       6991.0  125998302.0      0.000055
6                    Georgia        202.0    3722716.0      0.000054
16           North Macedonia        105.0    2072531.0      0.000051
21  United States of America      14577.0  331501080.0      0.000044
8                  Guatemala        574.0   16858333.0      0.000034

In [44]:
calc["# Suicides Per 100k People"] = calc["Suicide rate"] * 100000
calc

,country,suicides_no,population,Suicide rate,# Suicides Per 100k People
12,Lithuania,608.0,2794885.0,0.000218,21.754026
19,Slovenia,368.0,2102419.0,0.000175,17.503647
5,Estonia,210.0,1329522.0,0.000158,15.795150
11,Latvia,298.0,1900449.0,0.000157,15.680505
17,Serbia,895.0,6899126.0,0.000130,12.972658
9,Iceland,47.0,366463.0,0.000128,12.825306
0,Australia,3139.0,25655289.0,0.000122,12.235294
1,Austria,1072.0,8916864.0,0.000120,12.022164
3,Czechia,1224.0,10697858.0,0.000114,11.441543
10,Kazakhstan,2144.0,18755666.0,0.000114,11.431212
13,Mauritius,135.0,1265740.0,0.000107,10.665698
15,Netherlands,1824.0,17441500.0,0.000105,10.457816
7,Germany,7766.0,83160871.0,0.000093,9.338527
20,Spain,4369.0,47365655.0,0.000092,9.223983
2,Costa Rica,351.0,5123105.0,0.000069,6.851314
18,Singapore,359.0,5685807.0,0.000063,6.313967
4,Ecuador,1071.0,17588595.0,0.000061,6.089173
14,Mexico,6991.0,125998302.0,0.000055,5.548487
6,Georgia,202.0,3722716.0,0.000054,5.426146
16,North Macedonia,105.0,2072531.0,0.000051,5.066269
21,United States of America,14577.0,331501080.0,0.000044,4.397271
8,Guatemala,574.0,16858333.0,0.000034,3.404844

# Merge all Data

In [45]:
final = pd.merge(calc, data3, on="country")
final

,country,suicides_no,population,Suicide rate,# Suicides Per 100k People,HDI for year
0,Lithuania,608.0,2794885.0,0.000218,21.754026,0.878919
1,Slovenia,368.0,2102419.0,0.000175,17.503647,0.910715
2,Estonia,210.0,1329522.0,0.000158,15.795150,0.890523
3,Latvia,298.0,1900449.0,0.000157,15.680505,0.869134
4,Serbia,895.0,6899126.0,0.000130,12.972658,0.803060
5,Iceland,47.0,366463.0,0.000128,12.825306,0.956801
6,Australia,3139.0,25655289.0,0.000122,12.235294,0.944670
7,Austria,1072.0,8916864.0,0.000120,12.022164,0.912505
8,Czechia,1224.0,10697858.0,0.000114,11.441543,0.890991
9,Kazakhstan,2144.0,18755666.0,0.000114,11.431212,0.812130
10,Mauritius,135.0,1265740.0,0.000107,10.665698,0.909830
11,Netherlands,1824.0,17441500.0,0.000105,10.457816,0.937978
12,Germany,7766.0,83160871.0,0.000093,9.338527,0.943043
13,Spain,4369.0,47365655.0,0.000092,9.223983,0.896214
14,Costa Rica,351.0,5123105.0,0.000069,6.851314,0.814962
15,Singapore,359.0,5685807.0,0.000063,6.313967,0.937091
16,Ecuador,1071.0,17588595.0,0.000061,6.089173,0.729549
17,Mexico,6991.0,125998302.0,0.000055,5.548487,0.754225
18,Georgia,202.0,3722716.0,0.000054,5.426146,0.800684
19,North Macedonia,105.0,2072531.0,0.000051,5.066269,0.771832
20,United States of America,14577.0,331501080.0,0.000044,4.397271,0.919028
21,Guatemala,574.0,16858333.0,0.000034,3.404844,0.630479

In [46]:
final.to_csv("SuicideRate_HDI.csv")